<!DOCTYPE html>
<html>
<head>
    <title>Shared Files</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<h1>📁 Shared Files</h1>

<div class="page-header">

    <a href="/" class="home-btn">🏠 Home</a>

    <a href="/my-files" class="home-btn">
        🔒 Private Files
    </a>

    <a href="/shared-files" class="home-btn">
        🤝 Shared Files
    </a>

    <a href="/recycle-bin" class="recycle-btn">
    🗑 Recycle Bin
    </a>

</div>

{% if deleted %}

<div class="delete-message">
    🗑️ File moved to Recycle Bin successfully.
</div>

{% endif %}

    {% if files %}

        {% for file in files %}

        <div class="file-card">

            <div>

                <h3>{{ file[1] }}</h3>

                <p>Size: {{ (file[2] / 1024)|round(2) }} KB</p>

                <p>Uploaded: {{ file[3] }}</p>

            </div>

            <div class="actions">

                <a
                    href="/preview/{{ file[0] }}?from=shared_files"
                    class="preview-btn">

                    👁 Preview

                </a>

                <a
                    href="/download/{{ file[0] }}"
                    class="download-btn">

                    Download

                </a>

                <button
                    type="button"
                    class="delete-btn"
                    onclick="openDeleteModal('{{ file[0] }}','{{ file[1] }}','shared-files')">

                    Delete

                </button>

            </div>

        </div>

        {% endfor %}

    {% else %}

        <h3>No shared files available.</h3>

    {% endif %}

</div>

<!-- Delete Modal -->

<div id="deleteModal" class="modal">

    <div class="modal-content">

        <h2>Delete File</h2>

        <p id="deleteMessage"></p>

        <div class="modal-buttons">

            <button
                type="button"
                class="cancel-btn"
                onclick="closeModal()">

                Cancel

            </button>

            <a
                id="confirmDeleteBtn"
                href="#"
                class="confirm-delete-btn">

                Delete

            </a>

        </div>

    </div>

</div>

<script src="/static/script.js"></script>

</body>
</html>